
 <div style="background-color:aqua;font-size:x-large">
     <pre>

        <a href="http://www.google.com">Go TO Google</a>        <a href="http://www.micsoft.com/">Go TO Microsoft</a>       <a href="http://www.msn.com">Go TO MSN</a>
        
        

    </pre>
 </div>

